@CHARSET "UTF-8";

body {
	margin: auto;
}

#mainMenu {
	height: 50px;
	width: 100%;
	background-color: gray;
}

.menuLabel {
	float: left;
	height: 100%;
	font-size: 3ex;
}

.menuItem {
	float: right;
	height: 100%;
}

.menuItem div, .menuLabel div {
	margin: 15px 5px;
}

.menuItem a {
	text-decoration: none;
	color: black;
}

.menuItem:HOVER {
	background-color: #696969;
}

#logout {
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
}